input {
    width: 100%;
}

.container-item {
    text-align: left;
}

.Raj-row {
    margin: 10px 5px;
}

.Raj-Button {
    width: 80px;
    vertical-align: middle;
    height: 38px; /* Match input height if needed */
}

.size {
    width: 100%;
}